.officer-card {
    border-radius: 5px;
    padding: 1rem;
    cursor: grab;
}

.officer-card:active {
    cursor: grabbing;
}

.officer-card:hover {
    background-color: #f7f7f7;
}

.dragging {
    opacity: 0.5;
}

.dragover {
    background-color: #f7f7f7;
}

.font-weight-800 {
    font-weight: 800;
}

.h-70vh {
    height: 70vh !important;
}

.overflow-scroll-y {
    overflow-y: scroll;
}